* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.4)), url('../images/iswanto-arif-whale.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #fff;
    text-align: center;
}

h1 {
    font-size: 4em;
    font-weight: 900;
    
}

h2 {
    font-size: 2rem;
    font-weight: 700;
}

h3 {
    font-size: 2em;
    font-weight: 600;
}

p, textarea {
    font-size: 1.5rem;
    
}
textarea {
 background-color: rgba(0,0,0, 0.4);
 border: none;
 color: #fff;
 width: 100%;

}
.result-container p {
    word-wrap: break-word;
    padding: 0 8px;
    text-align: left;
}

section {
    margin: 2rem auto;
}

section div {
    background-color: rgba(0,0,0, 0.4);
    border-radius: 10px;
}

section div h2 {
    margin: 2rem auto;
    border-bottom: 1px solid #fff;
    
    
}

.mainContent {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0 4rem;
}

button {
    display: block;
    width: 50%;
    margin-top: 1rem;
    padding: 14px;
    border-radius: 10px;
    font-size: 1.2rem;
    background-color: rgba(0,0,0, 0.3);
    color: #fff;
    border: 1px solid;
}

button:hover {
    background-color: #fff;
    color: #000;
}

.buttonFlex {
    display: flex;
    
    
}

.translateBox {
    width: 404px;
    height: 425px;
    border-radius: 10px;
    /* visibility: hidden; */
}

.text-padding {
    padding: 0 6px;
}
